---
layout: default
intro: "Read the posts from the Bugzilla contributors"
meta:
- type: link
  tags: rel="alternate" href="https://planet.bugzilla.org/atom.xml" type="application/atom+xml"
addons:
- type: css
  link: /assets/css/display.css
---
<div class="row-inverse">
  <div class="twenty">
    <div class="card">
      <h4 class="title">Feeds</h4>
      <a class="button primary" href="/rss20.xml">{% include icons/rss.svg size="12" %} RSS 2.0</a>
      <a class="button primary" href="/atom.xml">{% include icons/rss.svg size="12" %} Atom</a>
    </div>
    <div class="card">
      <ul>
      {% for feed in site.data.planet %}
        <li><a href="{{ feed.link }}">{{ feed.title }}</a> <a href="{{ feed.feed }}">{% include icons/rss.svg size="12" %}</a></li>
      {% endfor %}
      </ul>
    </div>
    <p class="warning">{% include icons/twitter.svg size="16" %}You can also follow a number of our contributors (some of whom don't blog) <a href="https://twitter.com/bugzilla/lists/bugzilla-contributors">on Twitter</a>.</p>
  </div>
  <div class="eighty">
    {% for post in paginator.posts %}
      <div class="card">
        <a class="date muted" href="{{ post.link }}">{{ post.created_at | date: '%d. %B %Y' }}</a>
        <h2 class="title">{{ post.title }}</h2>
        <p class="authors muted">
          by
          <a class="muted" href="{{ post.link }}">{{ post.author }}</a>
          <a class="muted" href="{{ post.rss }}">{% include icons/rss.svg size="12" %}</a>
        </p>
        {{ post.content }}
      </div>
    {% endfor %}
    {% include pagination.html %}
  </div>
</div>
